PULL_TO_REFRESH: "下拉更新！"
RETRY: "重試"
CANCEL: "清除"
SUBMIT: "送出"
BACK: "返回"
ERROR: "系統遭遇未知錯誤，請重試。"
ATTEMPT_TO_CONNECT: "正在嘗試第 {{attempt}} 次連接（最多 {{attemptMax}} 次）"
OK: "Ok"
YES: "是"
NO: "否"
EMPTY_LIST: "暫時沒有文章！"
MENU: "選單"
TAGS: "標籤"
PAGES: "頁面"
POSTS: "文章"
AUTHORS: "作者"
SEARCH: "搜尋"
SEARCH_START: "輸入關鍵詞"
SOCIAL_NETWORKS: "社群網絡"
CATEGORIES: "分類"
SETTINGS: "設定"
ZOOM: "縮放"
FEATURED: "推薦"
OPEN_IN_BROWSER: "以瀏覽器打開"
ABOUT: "關於"
COMMENTS: "迴響"

CUSTOM_POSTS: "自定文章"
CUSTOM_TAXO: "自定分類"
CUSTOM_TAXO_TITLE: "{{term}}: {{name}}"

PUSH_NOTIFS: "推播通知"
PUSH_NOTIF_TITLE: "新內容發佈！"
PUSH_NOTIF_TEXT: "【{{appTitle}}】剛剛發表了文章《{{postTitle}}》，現在就打開閱讀吧？"

BOOKMARKS: "收藏夾"
BOOKMARKS_EMPTY: "暫無收藏內容！"
BOOKMARK_ADDED: "已收藏！"
BOOKMARK_REMOVED: "移除收藏！"

CACHE_CLEAR: "清除暫存"
CACHE_CLEAR_PROMPT: "該操作無法撤消!"
CACHE_CLEARED: "暫存已清除"

TITLE_TAGS: "標籤"
TITLE_TAG: "標籤：{{name}}"
TITLE_CATEGORIES: "分類"
TITLE_CATEGORY: "分類：{{name}}"
TITLE_HOME: "首頁"
TITLE_SEARCH: "搜尋"
TITLE_PAGES: "頁面"
TITLE_POSTS: "文章"
TITLE_USERS: "作者"
TITLE_USER: "作者"
TITLE_USER_POSTS: "作者：{{name}}"

SHARE_SUCCESS: "已分享！"
SHARE_ERROR: "分享失敗"

# CUSTOM NO NEED TO TRANSLATE IN OTHER LANGUAGES
TITLE_MOVIE: "電影"
TITLE_ACTOR: "演員"

